// app global css in SCSS form
.gmnoprint {
  display: none !important;
}

.gm-style-moc{
  display: none !important;
}

.gm-fullscreen-control {
  display: none !important;
}

.bk_google > div:nth-child(2) {
  display: none !important;
}

.bk_google > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) > div > div > div {
  display: none !important;
}

.bk_google > div:nth-child(1) > div > div:nth-child(15) > div {
  display: none !important;
}

.NavBar_Container {
  display: none !important;
}

.bm_bottomLeftOverlay{
  display: none !important;
}

.bm_bottomRightOverlay{
  display: none !important;
}

.amap-copyright {
  display: none !important;
}

.amap-logo {
  display: none !important;
}

.tdt-control-copyright {
  display: none !important;
}